@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');


:root {
    --bg-color-darker: rgba(14, 14, 14, 0.788) !important;
    --bg-colo-dark-gray: #8f8c8c !important;
    --color-text: #fff !important;

    --bg-background-white: #fff !important;

    --bg-color-gray-light: #868585 !important;

}

* {
    box-sizing: border-box;
    font-family: 'Gulzar', serif;

}

.App,
#root {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: rgb(176, 171, 171);
}

body,
html {
    height: 100%;
}

.darker-mode,
#darker-mode {
    background-color: var(--bg-color-darker) !important;
    color: var(--color-text) !important
}

.white-mode,
#white-mode {
    background-color: var(--bg-background-white) !important;
    color: var(--bg-color-darker)
}

.gray-dark-mode {
    background-color: var(--bg-colo-dark-gray) !important;
    color: var(--bg-background-white) !important;

}


.gray-light-mode {
    background-color: var(--bg-color-gray-light) !important;
    color: #fff !important;
}


.input-autocomplete-dark,
.input-autocomplete-dark::placeholder {
    background-color: var(--bg-colo-dark-gray) !important;
    color: #fff !important;
    border: none !important;
    padding: 0.5rem !important;
    border-radius: 15px !important;
}

.input-autocomplete-white,
.input-autocomplete-white::placeholder {
    background-color: var(--bg-background-white) !important;
    color: rgb(11, 0, 0) !important;

    padding: 0.5rem !important;
    border-radius: 15px !important;
}

input {
    width: 40%;
    height: auto;
}

h4 {
    font-size: medium;
}


ul {
text-align: right;
    height: auto;
    display: flex;
    flex-direction: column;
    display: inline-block;


}

ul li {
    list-style-type: none;

    width: 10rem;
    font-size: 14px;
    padding: 3px;
    text-align: left;
    border: 2px solid rgb(255, 255, 255);
}

ul li>span:nth-child(1) {
    padding-left: 3px;
}